#chat-container{
    display: grid;
    grid-template-rows: 15fr 1fr;
    height: 100%;
    width: 100%;
    background-color: #1B1D1F;

}

#chat-messages {
    display: flex;
    flex-direction: column;

}

#chat-input-container {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}