#details-container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh !important;
    width: 100vw !important;
    background-color: white;
}

#details-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 100%;
}

#details-people-info {
    grid-column: 1/1;
    padding: 2rem !important;
}

#details-meeting-heading {
    font-size: 3rem;
}

#details-recording-info {
    grid-column: 2/2;
    padding: 2rem !important;
}
