#meeting-container {
    height: 680px !important;
    width: 1200px !important;  
    border-radius: 5px !important;  
    background-color: blue;
    position: relative; 
}

#primaryVideoContainer {
    border-radius: 5px !important;  
    position: absolute; 
    top: 0; left:0;
    width: 1200px; 
    height: 680px;
    z-index: 1;
}

#primaryVideo {
    border-radius: 5px !important;  
    position: absolute;
    /*display: stretch !important;*/
    width: 1200px !important;
    height: 680px !important;
}

.hide {
    display: none;
}

#myVideoContainer {
    border-radius: 5px !important;
    height: 150px !important;
    width: 240px !important;
    /*background-color: yellow;*/
    position: absolute;
    bottom: 1.5rem; right: 1.5rem;
}

#myVideo {
    border-radius: 5px !important;
}

#meeting-content {
    z-index: 2;
    position: absolute;
    bottom:0; left:0;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
} 

#controlsContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    padding-bottom: 1.5rem;
    align-items: center;
}

